.about-container {
   background-image: linear-gradient(#1F2C40, #0B182B 20%);
   padding: 4rem 0 2rem 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 48px;
}

.about-heading {
   margin-bottom: 24px;
}

.about-text {
   margin-bottom: 24px;
   width: 60%;
}

.about-text > p {
   margin-bottom: 24px;
   line-height: 1.75rem;
   font-size: 20px;
}

@media only screen and (max-width: 1024px) {
   .about-text {
      width: 90%
   }

   .about-text > p {
      font-size: 24px;
   }
}